<footer>
  <table>
    <br>

    <div id="main">
        <style>
            </style>
            
            <div> <img src="https://img.icons8.com/ultraviolet/40/000000/circled-play.png" width="70px" height="70px" ><br><br>Full-stack video</div>
         
            <div> <img src="https://img.icons8.com/ultraviolet/40/000000/stack.png" width="70px" height="70px" ><br><br>Reliable infrasructure</div> 
            <div> <img src="https://img.icons8.com/ultraviolet/40/000000/settings.png" width = "70px" height="70px"><br><br>Seamless integration</div> 
            <div> <img src="https://img.icons8.com/ultraviolet/40/000000/us-dollar.png" width = "70px" height = "70px"><br><br>Pricing like it should be</div> 
           
              


            
          </div>
  
   
  
  </table>
</footer>