
  <header> 
      <div class="main">
        
        <div class="logo">
          <h3>Integros</h3>
        </div>
        
     
        <ul >
          <li><a href="#">Home</a></li>
          <li><a href="#">Developers</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Sign Up</a></li>
  
        </ul>
      </div>
     
      <div id="intro">
          <H2>Integrate video into your application</H2><br>
      <br>
      <p>The right way to integrate video stack into your apps. Design, SDK and infrastructure out of the box.</p><br>
      <bR>
        <br>
        <button type="button" class="btn1">Sign Up</button>
      </div>
    </header>
   
    
  