/* 
ul{
    float: right;
    list-style-type: none;

}
ul li {
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    
}
#section{
    width: 200px;
 
    padding: 100px;

}
#intro{
  
    width: 300px;
    
    float: left;
    padding: 300px;
  
    color: white;



} */


.container {
    background: linear-gradient(45deg,#4e22b7,#328dff);
    height: 70vh;
}